<!DOCTYPE html>
<html lang="es">
  <!--provee la informacion general para el navegador-->
  <head>
    <meta charset="UTF-8" />
    <title>GaveTech</title>
    <meta
      name="viewport"
      content="width=device-width, user-scalable=yes, initial-
    scale=1.0, maximum-scale=3.0, minimum-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    />
    <link rel="stylesheet" href="./../css/style.css" />
    <script src="./../js/cargaComponentes.js"></script>
    <script
      src="https://kit.fontawesome.com/08d50d8048.js"
      crossorigin="anonymous"
    ></script>
    <!--SELECT2-->
    <script src="./../js/select2/jquery-3.1.1.min.js"></script>
    <script src="./../js/select2/select2.full.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./../css/select2.css" />
    <link rel="stylesheet" href="./../css/select2.min.css" />
    <link rel="stylesheet" href="./../css/style.css" />
    <!--  -->
  </head>

  <!--cuerpo de la pagina-->

  <body>
    <!--encabezado de la página-->
    <header>
      <!--divide el bloque para aplicarle especificamente estilos u operaciones a esta seccion-->
      <div class="logo">
        <img src="./../img/ahk2.jpg" alt="Logo AHK" class="logo-img" />
      </div>
      <nav>
        <button class="deslog" onclick="cerrarSesion();">Cerrar Sesión</button>
      </nav>
    </header>
    <!--contenido principal de la página-->
    <main class="main-container">
      <h1>Cargar nuevo componente</h1>
      <div class="formulario">
        <div class="contenedor">
          <div class="input-contenedor">
            <input type="text" placeholder="Descripcion" id="descripcion" />
          </div>

          <div class="input-contenedor">
            <input type="text" placeholder="url imagen" id="imagen" />
          </div>

          <div class="input-contenedor">
            <input type="text" placeholder="Gaveta" id="gaveta" />
          </div>
          <div class="input-contenedor">
            <select
              class="js-box2"
              name="producto1"
              id="select2"
              style="width: 459px"
            >
              <option selected value="SC">Seleccione una Categoria</option>
            </select>
          </div>
          <br />
          <div>
            <button onclick="cargarComponentes();" class="button">
              Cargar
            </button>
          </div>
        </div>
      </div>
      <div id="modal_container" class="modal-container">
        <div class="modal">
          <h1>Comentario</h1>
          <p>
            El pedido ha sido enviado, en el apartado de "Mis Pedidos" podrás
            ver el estado del mismo
          </p>

          <a id="close" onclick="ocultar();" class="button">Listo</a>
        </div>
      </div>
      <script>
        // In your Javascript (external .js resource or <script> tag)
        $(document).ready(function () {
          $(".js-box2").select2();
        });
      </script>
    </main>
  </body>
</html>
