<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="./../js/index.js"></script>
    <link rel="stylesheet" type="text/css" href="./../css/select2.css" />
    <script src="./../js/select2/jquery-3.1.1.min.js"></script>
    <script src="./../js/select2/select2.full.min.js"></script>

  </head>
  <body>
    <h1>HOME</h1>
    <div>
      <input type="number" id="idProducto" placeholder="Id producto" />
      <input type="text" id="descripcion" placeholder="Descripción" />
      <input type="text" id="imagen" placeholder="Imagen" />
      <input type="number" id="stock" placeholder="Stock" />
      <input type="text" id="posicion" placeholder="Posicion" />
      <input type="number" id="categoria_id" placeholder="Id Categoria (1-5)" />
      <button type="submit" id="enviar" onclick="leerIngresos();">
        Agregar a Base de Datos
      </button>
    </div>
    <div>
      <button id="mostrar" onclick="mostrarProductos();">
        Mostrar Productos
      </button>
    </div>
    
    <div>
      <table>
        <thead>
          <th>idProducto</th>
          <th>Descripción</th>
          <th>Imagen</th>
          <th>Stock</th>
          <th>Posicion</th>
          <th>Categoria</th>
        </thead>
        <tbody id="tablaProductos"></tbody>
      </table>
    </div>
    
    <div style="text-align: left  ">
      <h2>Buscador Select 2</h2>
      <div style="text-align: right;">
        <ul id="listadoSeleccion"></ul>
        <button id="enviarPedido" onclick="enviarPedido();">Enviar Pedido</button>
        <div id="contenedorQr"></div>
      </div>
      <button id="agreagarAPedido" onclick="agregarAPedido();">Agregar</button>
      <select id="select2" style="width: 40%">
    </div>
    
  </body>
</html>
<script type="text/javascript">
  $(document).ready(function () {
    $("#select2").select2();
  });
</script>
