<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Inicio</title>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=yes, initial-
    scale=1.0, maximum-scale=3.0, minimum-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    />
    <link rel="stylesheet" href="./../css/style.css" />
    <script
      src="https://kit.fontawesome.com/08d50d8048.js"
      crossorigin="anonymous"
    ></script>
    <script src="./../js/menuProfesor.js"></script>
  </head>

  <body>
    <header>
      <div class="logo">
        <img src="./../img/ahk2.jpg" alt="Logo Holters" class="logo-img" />
      </div>
      <h4 class="gavetech">GaveTech</h4>
      <nav>
        <button class="deslog" onclick="cerrarSesion();">Cerrar Sesión</button>
      </nav>
    </header>

    <main>
      <div>
        <h1 class="titulo">Menu Principal</h1>
      </div>
      <div class="cards">
        <div class="card">
          <i class="fa-solid fa-check"></i>
          <div class="textos">
            <h3>Solicitudes Aprobadas</h3>
            <a onclick="solicitudesAprobadas()">Ir</a>
          </div>
        </div>
        <div class="card">
          <i class="fa-sharp fa-solid fa-clipboard-list"></i>
          <div class="textos">
            <h3>Solicitudes Pendientes</h3>
            <a onclick="solicitudesPendientes();">Ir</a>
          </div>
        </div>
        <div class="card">
          <i class="fa-solid fa-cubes-stacked"></i>
          <div class="textos">
            <h3>Gestionar Stock</h3>
            <a onclick="gestPedidos();">Ir</a>
          </div>
        </div>
        <div class="card">
          <i class="fa-solid fa-list-check"></i>
          <div class="textos">
            <h3>Cargar datos en una gaveta</h3>
            <a href="">Ir</a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
