<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Seleccion de Componentes</title>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=yes, initial-
  scale=1.0, maximum-scale=3.0, minimum-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    />
    <link rel="stylesheet" href="./../css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
      rel="stylesheet"
    />
    <script src="./../js/select2/jquery-3.1.1.min.js"></script>
    <script src="./../js/select2/select2.full.min.js"></script>
    <script src="./../js/misPedidos.js"></script>
  </head>

  <body>
    <header>
      <div class="logo">
        <img src="./../img/ahk2.jpg" alt="Logo AHK" class="logo-img" />
      </div>
      <nav>
        <button class="deslog" onclick="cerrarSesion();">Cerrar Sesión</button>
      </nav>
    </header>

    <main>
      <h2>Historial de pedidos</h2>
      <div class="table">
        <div class="table-section">
          <table class="table">
            <thead>
              <tr>
                <th>Numero</th>
                <th>Fecha</th>
                <th>QR</th>
                <th>
                  Estado <br />
                  <select id="filtroEstado" onchange="filtrarEstado();">
                    <option value="SF">Sin Filtro</option>
                    <option value="Aprobado">Aprobados</option>
                    <option value="Pendiente">Pendientes</option>
                    <option value="Rechazado">Rechazados</option>
                  </select>
                </th>
                <th>Detalle</th>
                <th>Comentario</th>
              </tr>
            </thead>
            <tbody id="contTabla"></tbody>
          </table>
        </div>
      </div>
    </main>
    <div id="modal_containerDetalle" class="modal-container">
      <div class="modal">
        <h1>Detalles</h1>
        <p>Estos son los detalles del pedido</p>
        <div class="table-small">
          <div class="table-section-small">
            <table style="margin: auto" id="tabla" class="table-small">
              <thead>
                <tr>
                  <th>Producto</th>
                  <th>Cantidad</th>
                </tr>
              </thead>
              <tbody id="contTablaModal"></tbody>
            </table>
          </div>
        </div>

        <a id="closeDetalle" onclick="ocultarDetalle();" class="button"
          >Listo</a
        >
      </div>
    </div>
  </body>
  
</html>
