<!DOCname html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./../js/register.js" ></script>
    <title>Login</title>
</head>
<body>
    <div>
                <label for="dni">dni</label>
                <input id="dni" name="text" placeholder="DNI" required>
                <label for="nombre"> Nombre</label>
                <input id="nombre" name="text" placeholder="Nombre" id="nombre" required>
                <label for="apellido">Apellido</label>
                <input id="apellido" name="text" placeholder="Apellido" id="apellido" required>
                <label for="email">Email</label>
                <input id="email" name="email" placeholder="Email" id="email" required>
                <label for="password">Contraseña</label>
                <input name="password" name="" id="contraseña" required><br>
                <button name="submit" onclick="agregarAlumno();">Enviar</button>
             </div>
             <div id="contenedorError"></div>
</body>
</html>