<!DOCTYPE html>
<html lang="en">

<head>
    <title>GaveTech</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-
    scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="./../css/style.css">
    <script src="https://kit.fontawesome.com/08d50d8048.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="logo">
            <img src="./../img/ahk2.jpg" alt="Logo Holters" class="logo-img">
        </div>
        <nav>
            <a href="./../REGISTRARSE-LOGEARSE/login.html" class="deslog">Cerrar Sesión</a>
        </nav>
    </header>
    <main>
        <div class="title">
            <h2>Solicitudes Aprobadas</h2>
        </div>
        <!-- Implementar el pedidos aprobados, hay que  hacer el controller -->
        <div class="table">
            <div class="table-section">
                <table>
                    <thead>
                        <tr>
                            <th>Numero</th>
                            <th>Fecha</th>
                            <th>Alumno</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>11/9/22</td>
                            <td>Valentin Barneda</td>
                            <td>
                                Aprobada
                            <button><i class="fa-regular fa-circle-check"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>11/9/22</td>
                            <td>Alejandro Campos</td>
                            <td>
                                Aprobada
                            <button><i class="fa-regular fa-circle-check"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>11/9/22</td>
                            <td>Julian Mourullo</td>
                            <td>
                                Aprobada
                            <button><i class="fa-regular fa-circle-check"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>11/9/22</td>
                            <td>Ignacio Cavichioli</td>
                            <td>
                                Aprobada
                            <button><i class="fa-regular fa-circle-check"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>11/9/22</td>
                            <td>Marcos Soto</td>
                            <td>
                                Aprobada
                            <button><i class="fa-regular fa-circle-check"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container xlarge">
                <div class="pagination">
                    <ul>
                        <!--Button-->
                        <!--Botón Anterior-->
                        <li><a href="#"></a></li>
                        <!--Botones paginas 1 a 6-->
                        <li class="active"><a href="Aprobadas(1).html"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <!--Botón Siguiente-->
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
    </main>
    
</body>
<footer><button class="but2"><a href="MenuPrincipal.html">Volver al menu</a></button></footer>
</html>