<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="./../js/index.js"></script>
  </head>
  <body>
    <h1>HOME</h1>
    <div>
      <input type="number" id="idProducto" placeholder="Id producto" />
      <input type="text" id="descripcion" placeholder="Descripción" />
      <input type="text" id="imagen" placeholder="Imagen" />
      <input type="number" id="stock" placeholder="Stock" />
      <input type="text" id="posicion" placeholder="Posicion" />
      <input type="number" id="id_Categoria" placeholder="Id Categoria (1-5)" />
      <button type="submit" id="enviar">Enviar</button>
    </div>
    <a href="http://localhost:4000/index">Vamnos a index1</a>
  </body>
</html>
